/* define the grid container */


/* remove default margins */

body,
html {
    margin: 0px;
    padding: 0px;
}


/* give the main container margins of 5% for the top and sides, and a max-width of 50% */

.container {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}


/* split the grid container into 15 columns */

.gridContainer {
    display: grid;
    grid-template-columns: repeat(15, 0fr);
}


/* define the grids in the grid container ... make the grid 20px sqr and a border of 1px , grey */

.gridContainer div {
    border: solid 1px gray;
    height: 20px;
    width: 20px;
    margin: 0px;
}