body {
    width: 100%;
}

.grid {
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: repeat(15, 0fr);
}

.grid div {
    height: 20px;
    width: 20px;
    border: solid 1px grey;
}